<body class="">
<div class="container-fluid">
  <div class="row vertical-center">
    <div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
      <h1><span class="lemon"></span> Приходи еще</h1>
      <button class="btn btn-primary btn-block" type="button" (click)="signOut()">Выйти</button>
      <a class="btn btn-default btn-block" [routerLink]="'/profile'">Назад</a>
    </div>
  </div>
</div>
