.navigation_container {
  width: 180px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

.navigation_cell {
  width: 60px;
  height: 60px;
  float: left;
  text-align: center;
}

.navigation_cell > i {
  color: #fff;
  padding-top: 10px;
  cursor: pointer;
  transition: all ease-in-out .3s;
  outline: none;
}

.navigation_cell > i:hover {
  color: #337ab7;
  outline: none;
}

.navigation_cell > i:focus {
  color: #337ab7;
  outline: none;
}
