<div class="navigation_container">
  <div class="navigation_cell">
    <i class="fa fa-home fa-2x" [routerLink]="'/profile'" aria-hidden="true"></i>
  </div>
  <div class="navigation_cell">
    <i class="fa fa-search fa-2x" [routerLink]="'/search'" aria-hidden="true"></i>
  </div>
  <div class="navigation_cell">
    <i class="fa fa-sign-out fa-2x" [routerLink]="'/sign-out'" aria-hidden="true"></i>
  </div>
</div>
