
<!--<div class="d-flex justify-content-center align-items-center" id="main">-->
<!--  <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>-->
<!--  <div class="inline-block align-middle">-->
<!--    <h2 class="font-weight-normal lead" id="desc">Запрашиваемая страница не сущетвует.</h2>-->
<!--  </div>-->
<!--  <a [routerLink]="'/profile'" class="btn btn-link">Домой</a>-->
<!--</div>-->

<h1>404 Error Page</h1>
<p class="zoom-area">Запрашиваемая страница не сущетвует.</p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
  <a [routerLink]="'/profile'" class="btn btn-primary">Домой</a>
</div>
