<body class="">
<div class="container-fluid">
  <div class="row vertical-center">
    <div [formGroup]="form" class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">

      <h1><span class="lemon"></span> lemon</h1>
      <p>
        <label class="sr-only" for="username">Имя</label>
        <input class="form-control" id="username" formControlName="username" type="text" placeholder="Имя" required autofocus>
      </p>
      <p>
        <label class="sr-only" for="password">Пароль</label>
        <input class="form-control" id="password" formControlName="password" type="password" placeholder="Пароль" required>
      </p>
      <button class="btn btn-primary btn-block" type="button" (click)="login()">Войти</button>
      <a class="btn btn-default btn-block" [routerLink]="'/sign-up'">Создать аккаунт</a>
    </div>
  </div>
</div>
