.vertical-center {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.lemon {
  width: 30px;
  height: 30px;
  background-color: #EF3;
  border-radius: 5% 70% 20%;
  display: inline-block;
}

h1 {
  font-size: 34px;
}
