<body class="">
<div class="container-fluid">
  <div class="row vertical-center">
    <div [formGroup]="form" class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">

      <h1><span class="lemon"></span> Новый аккаунт</h1>
      <p>
        <label class="sr-only" for="username">Логин</label>
        <input class="form-control" id="username" formControlName="username" type="text" placeholder="Логин" required autofocus>
      </p>
      <p>
        <label class="sr-only" for="firstName">Имя</label>
        <input class="form-control" id="firstName" formControlName="firstName" type="text" placeholder="Имя" required>
      </p>
      <p>
        <label class="sr-only" for="lastName">Фамилия</label>
        <input class="form-control" id="lastName" formControlName="lastName" type="text" placeholder="Фамилия" required>
      </p>
      <p>
        <label class="sr-only" for="gender">Пол</label>
        <select class="form-control" id="gender" formControlName="gender" type="text" required>
          <option *ngFor="let g of genders" [value]="g.gender">{{g.name}}</option>
        </select>
      </p>
      <p>
        <label class="sr-only" for="age">Возраст</label>
        <input class="form-control" id="age" formControlName="age" type="text" placeholder="Возраст" required>
      </p>
      <p>
        <label class="sr-only" for="city">Город</label>
        <input class="form-control" id="city" formControlName="city" type="text" placeholder="Город" required>
      </p>
      <p>
        <label class="sr-only" for="hobby">Увлечения</label>
        <input class="form-control" id="hobby" formControlName="hobby" type="text" placeholder="Увлечения" required>
      </p>
      <p>
        <label class="sr-only" for="password">Пароль</label>
        <input class="form-control" id="password" formControlName="password" type="password" placeholder="Пароль" required>
      </p>
      <p>
        <label class="sr-only" for="passwordTwo">Еще раз пароль</label>
        <input class="form-control" id="passwordTwo" formControlName="passwordTwo" type="password" placeholder="Еще раз пароль" required>
      </p>
      <button [disabled]="!form.valid" class="btn btn-primary btn-block" type="button" (click)="signUp()">Создать</button>
    </div>
  </div>
</div>
