<div class="background-image" [style.background-image]="'url(' + randomImage() + ')'" xmlns="http://www.w3.org/1999/html">
</div>
<div class="container">
  <div class="profile-picture" [style.background-image]="'url(' + randomImage() + ')'"></div>
  <div class="profile-name">
    <h1 class="pname">{{user?.firstName}} {{user?.lastName}}</h1>
    <span class="badge badge-pro">PRO</span>
  </div>
  <div class="profile-caption">
    <p class="uname">@{{user?.username}} <span *ngIf="user?.username === loggedInUser?.username">(это вы)</span></p>
  </div>
  <div class="profile-location">
    <p>
      <svg width="24" height="24" viewBox="0 0 24 24">
        <path
          d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
      </svg>
      <span class="location">{{user?.city}}</span></p>
    <hr>
  </div>

  <div class="profile-followers">
    <i class="fa fa-user fa-5x" aria-hidden="true">
      <p class="followers">Друзья: {{friends?.length}}</p>
    </i>
  </div>
  <div class="profile-bio">
    <h2 class="bio">
      <p class="bio_record" *ngIf="user?.age">Возраст: {{user?.age}}</p>
      <span class="bio_record" *ngIf="user?.hobbies">Увлечения: </span>
      <span class="bio_record" class="hobby" *ngFor="let hobby of user?.hobbies">{{hobby}}</span>
    </h2>
  </div>
  <br>
  <div class="follow-button">
    <button *ngIf="showFollowBtn()" type="button" (click)="follow()" class="btn btn-primary">Дружить</button>
    <button *ngIf="user?.username !== loggedInUser?.username && !showFollowBtn()"
            type="button" (click)="unfollow()" class="btn btn-default">Отказаться от дружбы</button>
  </div>
</div>

<app-navigation></app-navigation>

