.badge {
  visibility:hidden;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1px 3px 1px 3px;
  color: black !important;
  border-radius: 3px;
  position: relative;
  top: -2px;
  text-shadow: none !important;
  white-space: nowrap;
  letter-spacing: 0;
}
.badge-pro {
  background: #fcd000;
}
.background-image{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: -2;
  width:100vw;
  height:100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  transform: scale(1.2);
}
.container{
  position:fixed;
  height:100vh;
  width:300px;
  background-color:white;
  position:absolute;
  top:0;
  left:120px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.profile-picture{
  background-repeat:no-repeat;
  background-size:130px 130px;
  background-color:white;
  width:130px;
  height:130px;
  border-radius:50%;
  margin:0 auto;
  margin-top:33px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border:3px solid orange;
}
.profile-name{
  text-align:center;
  color:black;
  position:relative;
  top:10px;
  font-size:10px;
  letter-spacing:1px;
}
.profile-caption{
  text-align:center;
  color:#BCAAA4;
  position:relative;
  top:0px;
  font-size:15px;
}
.profile-location{
  position:relative;
  top:-10px;
  text-align:center;
  color:#78909C;
}
svg{
  position:relative;
  top:5px;
  fill:#78909C;
}
.profile-location hr{
  color:red;
  height:2px;
  background-color:red;
  text-align:center;
  width:25px;
  position:relative;
  top:-10px;
  border:none;
}
.profile-followers{
  position:relative;
  top:-10px;
  background-color:#CFD8DC;
  width:100%;
  height:80px;
  text-align: center;
}
.profile-followers p{
  text-align:center;
  font-size:12px;
  line-height: 17px;
}
i{
  padding-top:20px;
  text-align:center;
  font-size:25px;
}
.profile-bio{
  height:auto;
}
.profile-bio h2{
  text-align:center;
  padding:10px;
  font-size:15px;
  top:-10px;
  position:relative;
  color:#607D8B;
}
.follow-button{
  text-align: center;
}
a{
  color:white;
  text-decoration:none;
}
.hobby {
  margin-right: 3px;
}
.followers {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
