<div class="background-image" [style.background-image]="'url(' + randomImage() + ')'"
     xmlns="http://www.w3.org/1999/html">
</div>
<div class="container">
  <div class="company-title">
    <h3 class="search_title"><span class="lemon"></span> Люди</h3>
    <form [formGroup]="searchForm">
      <div class="inner-form">
        <div class="input-field first-wrap">
          <div class="icon-wrap">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
            </svg>
          </div>
          <input id="search" formControlName="city" type="text" placeholder="Город">
        </div>
        <div class="input-field second-wrap">
          <div class="icon-wrap">
          </div>
          <input class="flatpickr-input" formControlName="firstName" id="depart" type="text" placeholder="Имя">
        </div>
        <div class="input-field third-wrap">
          <input class="flatpickr-input" formControlName="lastName" id="return" type="text" placeholder="Фамилия">
        </div>
        <div class="input-field fifth-wrap">
          <button class="btn-search" type="button" (click)="search()">Поиск</button>
        </div>
      </div>
    </form>
  </div>
  <div class="companies-list">
    <div class="row">
      <div *ngFor="let u of users" class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="company_profile_info">
          <div class="company-up-info">
            <div class="profile-picture" [style.background-image]="'url(' + randomImage() + ')'"></div>
            <h3>{{u?.firstName}} {{u.lastName}}</h3>
            <h4>Возраст: {{u?.age}}</h4>
            <h4>Город: {{u?.city}}</h4>
          </div>
          <a [routerLink]="'/profile/' + u?.username" title="" class="view-more-pro">Смотреть профиль</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navigation></app-navigation>
