.company-title {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
}

.companies-list {
  float: left;
  width: 100%;
  margin-bottom: -30px;
}

.company_profile_info {
  float: left;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 30px;
}

.company-up-info {
  float: left;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}

.company_profile_info > a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 18px 0;
}

.company-up-info img {
  float: none;
  margin-bottom: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  height: 90px;
  object-fit: cover;
}

.company-up-info h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.company-up-info h4 {
  color: #686868;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 21px;
}

.company-up-info ul {
  float: left;
  width: 100%;
}

ol, ul {
  list-style: none;
}

.company-up-info ul li {
  display: inline-block;
  margin-right: 6px;
}

.company-up-info ul li a {
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  height: 35px;
  line-height: 35px;
}

.follow {
  background-color: #53d690;
}

.message-us {
  background-color: #e44d3a;
}

.hire-us {
  background-color: #51a5fb;
}

.profile-picture{
  background-repeat:no-repeat;
  background-size:130px 130px;
  background-color:white;
  width:130px;
  height:130px;
  border-radius:50%;
  margin:0 auto;
  margin-top:33px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border:3px solid orange;
}

.background-image{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: -2;
  width:100vw;
  height:100vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  transform: scale(1.2);
}

.search_title {
  color: #ffffff;
}

.lemon {
  width: 30px;
  height: 30px;
  background-color: #EF3;
  border-radius: 5% 70% 20%;
  display: inline-block;
}

.view-more-pro {
  transition: all ease-in-out .3s;
  color: #000000;
}

.view-more-pro:hover {
  color: #337ab7
}

form {
  width: 100%;
  max-width: 1190px;
}

form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

form .inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
}

form .inner-form .input-field.second-wrap {
  min-width: 190px;
  max-width: 190px;
}

form .inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
}

form .inner-form .input-field.third-wrap {
  min-width: 190px;
  max-width: 190px;
}

form .inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
}

form .inner-form .input-field.fouth-wrap {
  min-width: 190px;
  max-width: 190px;
  border-right: 0;
}

form .inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
}

form .inner-form .input-field.fifth-wrap {
  min-width: 190px;
  max-width: 190px;
  padding-left: 10px;
  border-right: 0;
}

form .inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
}

form .inner-form .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

form .inner-form .input-field input {
  height: 70px;
  background: #fff;
  border-radius: 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 20px 10px 45px;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

.flatpickr-input {
  padding-left: 20px !important;
}

.icon-wrap svg {
  fill: #555;
  width: 14px;
  height: 14px;
}

form .inner-form .input-field.fifth-wrap .btn-search {
  height: 70px;
  width: 100%;
  background: #337ab7;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

form .inner-form .input-field.fifth-wrap .btn-search:hover {
  background: #1d65a3;
}
